.container-my-account-grid {
    height: 70vh;
    width: 80%;
    margin: auto;
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.container-my-account.-lex {
    width: 80%;
    margin: auto;
    display: flex;
    align-content: center;
    justify-content: center;
}

.wrapper-section-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}
.container-data {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;
}
.wrapper-data-user {
    width: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
    gap: 1.3rem;
}

.wrapper-butons-data-user {
    display: flex;
    gap: 4rem;
}