.card-category {
    padding: 2rem;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: start;

    border-radius: 1rem;
    box-shadow: 3px 3px 10px rgba(130, 132, 250, 0.69);

    width: 30rem;
    height: 20rem;
    color: black;

    transition: transform 0.3s, box-shadow 0.3s;
}

.card-category:hover {
    transform: scale(1.02);
    box-shadow: 4px 4px 15px rgba(130, 132, 250, 0.8);
}

.gameName-category {
    width: 100%;
}

.card-name-category {
    text-align: center;
    font-size: 3rem;
    color: var(--blue-marguerite-700);
    margin-bottom: 1.3rem;
}

.name-category {
    color: black;
    font-size: 2rem;
    font-weight: 500;
}

.link-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
}

@media (min-width: 0px) and (max-width: 767px) {
    .card-category {
        width: 25rem;
        height: 15rem
    }
}