header {
    width: 100%;
    height: 11rem;
    padding: 0 3.5rem;
    background: linear-gradient(180deg, rgba(130, 132, 250, 0.53) 0%, rgba(130, 132, 250, 0.00) 100%);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;

    margin-bottom: 3rem;
}

.container-input-research {
    width: 20%;
    padding: 1rem 1.5rem;
    display: flex;
    gap: 1rem;
    border: 1px solid var(--gray);
    border-radius: 6px;
    background: #FFF;
}

.container-input-research input {
    color: var(--gray-400);
    width: 100%;
    background: none;
    border: none;
    outline: none;
}

.wrapper-links-pages {
    display: flex;
    gap: 3rem;
    margin-left: 7rem;

    transition: all 0.5s ease-in-out;
}

.links-pages {
    text-decoration: none;
    color: white;
    cursor: pointer;
    list-style: none;
    font-size: 1.8rem;
    padding: .5rem;
}

.wrapper-buttons-account {
    display: flex;
    align-items: center;
    gap: 1.3rem;
}

.wrapper-buttons-account a {
    color: var(--blue-marguerite-950);
    padding: .5rem;
    border-radius: .3rem;
    border: 1px solid var(--blue-marguerite-950);
    background: var(--blue-marguerite-50);
}

.wrapper-buttons-account a:hover {
    color: white;
    background: var(--blue-marguerite-800);
    transition: all .2s ease-in-out;
}

.menu {
    display: none;
    
}

.wrapper-links-pages.open {
    display: flex;
}


@media (min-width: 768px) and (max-width: 991px) {
    .wrapper-links-pages {
        gap: 1.5rem;
        margin-left: 3rem;
    }
}

@media (min-width: 530px) and (max-width: 767px) {
    .wrapper-links-pages {
        gap: 1rem;
        margin-left: 1.5rem;
       /*  flex-direction: column; */
    }

    .container-input-research {
        width: 30%;
    }
}

@media (max-width: 530px) {

    .container-input-research {
        width: 40%;
    }

    .wrapper-links-pages {
        display: none;
    }

    .menu {
        margin-left: 2rem;
        display: flex;
    }

    .wrapper-links-pages.open {
        padding: 1rem;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        margin-left: 0;
        width: 100%;
        background-color: black;
        position: absolute;
        top: 11rem;
        left: 0;
    }
}