main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    border: none;
}

.form-section { 
    display: flex;
    flex-direction: column; 
    width: 100%;
}

.form-section label {
    margin-bottom: 1rem
}

.edit-registration-form .title {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 4rem;
}

.form, .edit-registration-form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.8rem;
}

label {
    font-weight: 500;
    margin-bottom: 1rem;
}

input {
    color: white;
    background: none;
    border: none;
    outline: none
;}

.input {
    padding: 2.3rem 3rem;
    border-radius: .6rem;
    border: 1px solid var(--gray-300);
}

.input input { 
    width: 95%;
}


.button-submit {
    text-align: center;
    width: 50%;
    border-radius: .6rem;
    padding: 2.3rem 0;
    background-color: var(--purple-dark);
}

.button-submit:hover {
    background-color: var(--purple);
    transition: .5s;
}

.button-submit:focus {
    outline: 1px solid white;
    background-color: var(--purple);
    transition: .5s;
}